@charset 'UTF-8';

* {
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}

body {
  background-color: rgb(36, 36, 36);
}

.turquoise-gradient {
  background: linear-gradient(45deg, #00b8e1 40%, #1c91ff 90%);
  color: #ffffff;
  font-family: Roboto, Arial, sans-serif;
  font-size: 20px;
  box-shadow: 3px 3px 10px #000000;
}

.turquoise-gradient span {
  margin-left: 15px;
}

#logo {
  width: 15%;
  margin: 60px auto;
  margin-bottom: 0px;
  display: block;
}

#login-panel {
  width: 35%;
  margin: 30px auto;
  margin-top: 80px;
  color: #bebebe;
}

#login-panel h2 {
  font-size: 30px;
  text-align: center;
}

#login-panel td {
  background-color: rgb(41, 41, 41);
  border-radius: 8px;
}

#login-btn {
  width: 40%;
  margin: 0px auto;
  border-radius: 6px;
  display: block;
}

#login-btn:hover {
  border-radius: 10px;
  color: #929292;
}

#login-btn:active {
  border-radius: 10px;
  color: #929292;
}

.input label {
  color: #c0c0c0;
  transition: color 0.5s ease;
}

#username, #password, #search, #player, #servers {
  border-bottom: 2px solid #ffffff;
  transition: border-bottom 0.5s ease;
  color: #ffffff;
}

#username:hover, #password:hover, #search:hover, #player:hover, #servers:hover {
  border-bottom: 2px solid #696969;
}

.missing-input {
  border-bottom: 4px solid #ff0000;
}

#notif {
  background: red;
  border-radius: 12px;
  transition: 1s;
  width: 80%;
  margin: 0px auto;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
  color: white;
}

#dashboard {
  background: rgb(36, 36, 36);
  border-radius: 8px;
  width: 60%;
  padding: 5%;
  padding-top: 1%;
  margin: 100px auto;
  box-shadow: 2px 4px 10px #000000;
  color: #bebebe;
}

#dashboard h2 {
  text-align: center;
}

#results {
  padding: 10px;
  box-shadow: 1px 1px 5px #000000;
  background: rgb(44, 44, 44);
  border-radius: 4px;
  overflow-y: scroll;
  height: 400px;
  margin-bottom: 50px;
  font-family: monospace;
  font-size: 16px;
  transition: all 0.5s;
}

#pager {
  border-radius: 100px;
  background: rgb(44, 44, 44);
  cursor: default;
  margin-bottom: 20px;
}

#pager span {
  padding: 10px 20px;
  height: 100%;
  display: inline-block;
  transition: background 0.5s ease;
  text-align: center;
  border-radius: 100px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#pager span:last-child {
  float: right;
}

#pager span:hover {
  background: #696969;
}

::-webkit-scrollbar {
  width: 8px;
  background: rgb(44, 44, 44);
  border-radius: 50px; 
}

::-webkit-scrollbar-track {
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: rgb(59, 59, 59); 
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(31, 31, 31); 
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #bebebe;
  border-radius: 4px;
}

.checkbox:hover input ~ .checkmark {
  background-color: #ffffff;
  border-radius: 4px;
  transition: background 0.5s ease;
}

.checkbox input:checked ~ .checkmark {
  background: linear-gradient(45deg, #00b8e1 40%, #1c91ff 90%);
  border-radius: 4px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.show {
  opacity: 1;
  transition: opacity 400ms;
}

.hide {
  opacity: 0;
  transition: opacity 400ms;
}

.current {
  background: linear-gradient(45deg, #00b8e1 40%, #1c91ff 90%);
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  #logo {
    width: 50%;
  }

  #login-panel {
    width: 100%
  }

  #login-panel td {
    border-radius: 0px;
  }
}
